*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body{
    font-family: Helvetica;
    -webkit-font-smoothing: antialiased;
    background: rgba( 71, 147, 227, 1);
}
h2{
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    padding: 30px 0;
}

/* Table Styles */

table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

table td, table th {
    text-align: center;
    padding: 8px;
}

table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

table thead th {
    color: #ffffff;
    background: #4FC3A1;
}


table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

table tr:nth-child(even) {
    background: #F8F8F8;
}


.rep-btn {
    float: center;
    width: 100%;
    height: auto;
    display: block;
}

div > input { 
    width: 200px;
}

a {
    background-color: rgb(75, 97, 219);
    color: black;
    width: 450pt;
    height: 35pt;
    border-color: black;
    text-decoration: none;
    font-size: larger;
    margin: 80px;
    padding: 10px;
    border: 5pt;
    border-radius: 2pt;
}